@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.eot") format("embedded-opentype"), url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Light.eot") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Thin';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Thin.eot") format("embedded-opentype"), url("../fonts/Roboto-Thin.ttf") format("truetype"); }

body {
  background-image: url("../images/OneCloud_Free.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 47.6vw;
  position: relative; }
  body header {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 360px;
    z-index: 1; }
    body header div.logo {
      width: 36.46%;
      display: inline-block; }
      body header div.logo a {
        display: block;
        background-image: url("../images/ikony.png");
        margin: 0 0 0.57vw 54.8%;
        background-repeat: no-repeat;
        width: 34%;
        min-height: 3.12vw;
        background-position: 0px 0px;
        background-size: 46.87vw 9.58vw; }
    body header nav {
      display: inline-block;
      width: 39.33%;
      text-align: center; }
      body header nav ul {
        display: table;
        padding: 2.3vw 0 1.9vw 0;
        width: 100%; }
        body header nav ul li {
          display: table-cell;
          font-size: 0.73vw; }
    body header div.left-menu {
      display: inline-block;
      width: 22%;
      padding-left: 0.5%;
      vertical-align: top;
      padding: 2vw 0 0 0.5%; }
      body header div.left-menu a {
        display: inline-block;
        background-image: url("../images/ikony.png");
        background-size: 46.87vw 9.58vw;
        width: 8%;
        min-height: 1.12vw;
        padding: 0 0 1.56vw 0; }
      body header div.left-menu a.basket {
        background-position: 32.70vw -0.46vw;
        margin-right: 2.5%; }
      body header div.left-menu a.magnifier {
        background-position: 30.5vw -0.46vw; }
  body div#content-slider {
    padding-top: 26.04vw; }
    body div#content-slider div#slide-one,
    body div#content-slider div#slide-two {
      width: 100%;
      text-align: center; }
      body div#content-slider div#slide-one h1.slide-title,
      body div#content-slider div#slide-two h1.slide-title {
        font-size: 2.08vw;
        color: #fff;
        font-family: 'OpenSans-Bold';
        text-transform: uppercase; }
      body div#content-slider div#slide-one h2.slide-title,
      body div#content-slider div#slide-two h2.slide-title {
        font-size: 1.46vw;
        color: #fff;
        font-family: 'OpenSans-Regular';
        padding-bottom: 3.65vw; }
      body div#content-slider div#slide-one span.button-slide,
      body div#content-slider div#slide-two span.button-slide {
        font-family: 'Roboto-Regular';
        font-size: 0.89vw;
        color: #fff;
        border: 0.11vw solid #fff;
        padding: 0.57vw 1.64%;
        border-radius: 1.04vw; }
      body div#content-slider div#slide-one span.button-rolldown,
      body div#content-slider div#slide-two span.button-rolldown {
        display: block;
        background-image: url("../images/ikony.png");
        background-size: 46.87vw 9.58vw;
        background-position: -25.42vw -3vw;
        width: 2%;
        min-height: 2vw;
        margin: 9vw auto 11.46vw auto;
        border: 0.15vw solid #6d6667;
        border-radius: 50%;
        position: relative; }
        body div#content-slider div#slide-one span.button-rolldown:after,
        body div#content-slider div#slide-two span.button-rolldown:after {
          display: block;
          content: "";
          position: absolute;
          right: -0.57vw;
          bottom: -0.63vw;
          min-width: 3vw;
          min-height: 3vw;
          border: 0.15vw solid #6d6667;
          border-radius: 50%; }
    body div#content-slider div#slide-two {
      display: none; }
  body div#content-ourservicer div.header {
    text-align: center;
    padding-top: 7.30vw; }
    body div#content-ourservicer div.header h2.title {
      font-family: 'Roboto-Bold';
      font-size: 1.5vw; }
    body div#content-ourservicer div.header p {
      font-family: 'Roboto-Regular';
      font-size: 0.78vw;
      padding: 0.73vw  37.46%; }
  body div#content-ourservicer div.ourservicer-items {
    text-align: center;
    padding: 4.32vw 17.5% 7.55vw 17.5%;
    font-size: 0.78vw;
    font-weight: bold;
    font-family: 'Roboto-Regular'; }
    body div#content-ourservicer div.ourservicer-items div.item-ourservicer {
      width: 16%;
      display: inline-block;
      position: relative; }
      body div#content-ourservicer div.ourservicer-items div.item-ourservicer span.pictures-ourservices-before {
        display: block;
        position: absolute;
        left: 18.5%;
        bottom: 2.34vw;
        min-width: 60%;
        min-height: 6.25vw;
        background-color: #c6c6c6;
        border: 0.15vw solid #c6c6c6;
        border-radius: 50%;
        z-index: -1; }
      body div#content-ourservicer div.ourservicer-items div.item-ourservicer span.pictures-ourservices {
        width: 60%;
        min-height: 6.25vw;
        border: 1px solid #c6c6c6;
        background-color: #fff;
        border-radius: 50%;
        display: block;
        margin: 0 auto 1.56vw auto; }
  body div#content-portfolio div.header {
    text-align: center;
    padding-top: 7.30vw;
    padding-bottom: 1.82vw;
    color: #fff; }
    body div#content-portfolio div.header h2.title {
      font-family: 'Roboto-Bold';
      font-size: 1.5vw; }
    body div#content-portfolio div.header p {
      font-family: 'Roboto-Regular';
      font-size: 0.78vw;
      padding: 0.73vw  37.46%; }
  body div#content-portfolio nav {
    display: inline-block;
    width: 100%;
    padding: 2.91vw 0 2.8vw 0; }
    body div#content-portfolio nav ul {
      display: table;
      width: 20%;
      margin: 0 auto; }
      body div#content-portfolio nav ul li {
        display: table-cell;
        font-size: 0.78vw;
        font-family: 'Roboto-Regular';
        text-align: center;
        font-weight: bold; }
  body div#content-portfolio div#item-content {
    width: 100%; }
    body div#content-portfolio div#item-content span {
      width: 24.7%;
      height: 27.6vw;
      display: inline-block; }
  body div#testimonials-content div.header {
    text-align: center;
    padding-top: 7vw; }
    body div#testimonials-content div.header h2.title {
      font-family: 'Roboto-Bold';
      font-size: 1.5vw; }
    body div#testimonials-content div.header p {
      font-family: 'Roboto-Regular';
      font-size: 0.78vw;
      padding: 0.73vw  37.46%; }
  body div#testimonials-content div#item-content-testimonials {
    width: 100%;
    padding: 4.16vw 0 13.66vw 0;
    text-align: center;
    font-size: 0.74vw; }
    body div#testimonials-content div#item-content-testimonials div.item-testimonial {
      width: 20.3%;
      display: inline-block;
      text-align: left;
      padding-left: 1.5%; }
      body div#testimonials-content div#item-content-testimonials div.item-testimonial div.face-name {
        width: 25.72%;
        display: inline-block;
        height: 5.22vw;
        border: 0.31vw solid #b9b9b9;
        background-color: #e4e5dd;
        border-radius: 50%;
        vertical-align: top;
        margin-left: 3%; }
      body div#testimonials-content div#item-content-testimonials div.item-testimonial div.face-text {
        width: 55%;
        display: inline-block;
        font-family: 'Roboto-Regular';
        text-align: left; }
        body div#testimonials-content div#item-content-testimonials div.item-testimonial div.face-text h4.name {
          color: #0075d0;
          text-align: left;
          font-family: 'Roboto-Bold'; }
        body div#testimonials-content div#item-content-testimonials div.item-testimonial div.face-text span {
          width: 94%;
          display: block;
          background-color: #0075d0;
          color: #fff;
          padding: 0.78vw; }
  body div#aboutus-content div.header {
    text-align: center;
    padding-top: 7.3vw; }
    body div#aboutus-content div.header h2.title {
      font-family: 'Roboto-Bold';
      font-size: 1.5vw; }
    body div#aboutus-content div.header p {
      font-family: 'Roboto-Regular';
      font-size: 0.78vw;
      padding: 0.73vw  37.46%; }
  body div#aboutus-content div.info {
    width: 100%;
    text-align: center;
    padding-top: 4.27vw;
    padding-bottom: 7.92vw; }
    body div#aboutus-content div.info div.info-content {
      display: inline-block;
      width: 20%;
      text-align: left;
      font-family: 'Roboto-Regular';
      margin-left: 0.5%; }
      body div#aboutus-content div.info div.info-content h3 {
        font-size: 0.99vw;
        padding-bottom: 0.31vw;
        margin-bottom: 1.3vw; }
      body div#aboutus-content div.info div.info-content p {
        font-size: 0.76vw; }
  body div#ournumber-content {
    width: 100%;
    text-align: center;
    padding: 2.5vw 0;
    color: #fff; }
    body div#ournumber-content div {
      width: 15.3%;
      display: inline-block; }
      body div#ournumber-content div > span {
        display: block;
        width: 19.1%;
        height: 2.92vw;
        margin: 0 auto 0.63vw auto; }
      body div#ournumber-content div p {
        font-family: 'Roboto-Regular';
        font-size: 0.99vw; }
        body div#ournumber-content div p span {
          font-family: 'Roboto-Bold';
          font-size: 2.60vw;
          display: block;
          margin-bottom: 0.42vw; }
  body div#ourteam-content {
    margin-bottom: 9.16vw; }
    body div#ourteam-content div.header {
      text-align: center;
      padding-top: 7.3vw; }
      body div#ourteam-content div.header h2.title {
        font-family: 'Roboto-Bold';
        font-size: 1.5vw; }
      body div#ourteam-content div.header p {
        font-family: 'Roboto-Regular';
        font-size: 0.78vw;
        padding: 0.73vw  37.46%; }
    body div#ourteam-content div.team-content {
      width: 61%;
      margin: 0 auto;
      padding-top: 4.16VW; }
      body div#ourteam-content div.team-content div.face-team {
        display: inline-block;
        width: 22.8%;
        font-family: 'Roboto-Bold';
        font-size: 0.78vw;
        text-align: center; }
        body div#ourteam-content div.team-content div.face-team div {
          width: 100%;
          height: 16.71vw; }
        body div#ourteam-content div.team-content div.face-team p {
          display: inline-block;
          margin-top: 1.20vw; }
          body div#ourteam-content div.team-content div.face-team p span {
            display: block;
            color: #0075d0;
            margin-top: 0.57vw; }
      body div#ourteam-content div.team-content div.face-team:not(:last-child) {
        margin-right: 2.2%; }
  body div#joinus-content {
    background-color: #0075d0;
    position: relative;
    text-align: center; }
    body div#joinus-content span:first-child {
      display: block;
      width: 1.15vw;
      height: 1.15vw;
      background-color: #fff;
      position: absolute;
      margin-left: 50%;
      left: -11px;
      top: -11px;
      transform: rotate(45deg); }
    body div#joinus-content div.header {
      text-align: center;
      padding-top: 2.2vw;
      padding-bottom: 2.1vw;
      color: #fff; }
      body div#joinus-content div.header h2.title {
        font-family: 'Roboto-Bold';
        font-size: 1.5vw; }
      body div#joinus-content div.header p {
        font-family: 'Roboto-Regular';
        font-size: 0.78vw;
        padding: 0.73vw  37.46%; }
    body div#joinus-content span:not(:first-child) {
      display: inline-block;
      color: #fff;
      font-family: 'Roboto-Regular';
      font-size: 0.88vw;
      border: 2px solid #fff;
      padding: 17px 20px;
      margin-bottom: 50px;
      border-radius: 40px; }
  body div#ourclient-content {
    padding-bottom: 5.72vw; }
    body div#ourclient-content div.header {
      text-align: center;
      padding-top: 7.3vw; }
      body div#ourclient-content div.header h2.title {
        font-family: 'Roboto-Bold';
        font-size: 1.5vw; }
      body div#ourclient-content div.header p {
        font-family: 'Roboto-Regular';
        font-size: 0.78vw;
        padding: 0.73vw  37.46%; }
    body div#ourclient-content div#items-clients {
      font-size: 1.56vw;
      padding: 6vw 0 6vw 25.93%;
      margin: 0 auto; }
      body div#ourclient-content div#items-clients span.client {
        border: 1px solid #000;
        margin-right: 43px;
        text-align: center;
        width: 200px;
        padding: 24px 0px 30px 0px;
        display: inline-block;
        font-family: 'Roboto-Bold'; }
        body div#ourclient-content div#items-clients span.client span.change-bacground {
          padding: 5px 8px 4px 8px;
          background-color: green;
          color: #fff;
          font-family: 'Roboto-Regular'; }
        body div#ourclient-content div#items-clients span.client span.text-light {
          font-family: 'Roboto-Light'; }
  body div#blog-content div.header {
    text-align: center;
    padding-top: 7.3vw; }
    body div#blog-content div.header h2.title {
      font-family: 'Roboto-Bold';
      font-size: 1.5vw; }
    body div#blog-content div.header p {
      font-family: 'Roboto-Regular';
      font-size: 0.78vw;
      padding: 0.73vw  37.46%; }
